/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
a {
   outline: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html,
body {
  background-color: #ccc;
    font-family: 'Roboto', Helvetica Neue, sans-serif;
    font-size: 16px;
    color: #fff;
}


#nav {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 35px 0 20px;
    z-index: 10;
}

#nav ul {
text-align: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#nav li {
     display: inline;
     margin: 0;
     padding: 0 25px;
 }

#nav li a {
  font-weight: 400;
    text-decoration: none;
}


#nav li a.active {
    color: #008ce5;
}




#nav li:not(:first-child):before {
     content: "";
}

.white-bg {
    background-color: #fff;
}

.white { color: #fff;}
.blue {
   color: #008ce5;
}

 #hamburger-menu {
  width: 25px;
  height: 16px;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}

 #hamburger-menu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #707070;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



#hamburger-menu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#hamburger-menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top:17px;
}




/*#nav li a:hover {
   color: #008ce5;
}*/


/* =Main */
.section {
    /*text-align: center;*/
    width: 100%;
    padding: 0 0 700px;

    /*opacity: 0;*/
    /*transform: translateY(200px);*/
    /*transition: all 1s ease-out;*/
}
/*****************************
home
******************************/
#home {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 95vh;
    background: #fff url("/dist/img/home_bg.png") no-repeat;
    background-size: 250vh 100%;
    overflow: hidden;
}

#home > .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


#home > .content > .left {
  margin-top: 12%;
  margin-left: 15%;
  float: left;
  width: 30%;
  text-align: left;
}


#home > .content > .left p {
  color: #fff;
}

#home .content .tree {
    position: absolute;
    height: 100vh;
    bottom:0;
    right:0;
}

#home .content .tree img {
    width: auto;
    height: 100%;
}

#home .content .left .sweepstakes-title {

  width: 60%;
  height: auto;
  display: block;
}

#home .mobile-footer {
    position: absolute;
    bottom:0;
    display: none;
}

.btn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-size: 1em;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


.enter-now {
    margin: 10px 0;
  border: solid #fff 1px;
  color: #fff;
}
.enter-now:hover {
  background: #fff;
  text-decoration: none;
  color:#008de5;
}


.learn-more {
    width: 135px;
  color: #008de5;
  border: solid #008de5 1px;
}

.learn-more:hover {
  background: #008de5;
  text-decoration: none;
  color:#fff;
}


.official-rules-link {
  font-size: 0.813em;
  color: #fff;
  outline: 0;
  text-decoration: underline;
}

#fixed-about  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

#fixed-about > video  {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  background-size: cover;
}

#fixed-about > .play-button {
  width: 93px;
  height: 93px;
  background: url("/dist/img/play_button.png") no-repeat;
  background-size: cover;
  z-index: 2;
  margin: auto;
  position: absolute;
  top: -90px; left: 0; bottom: 0; right: 0;
  display: none;
}


#enter  {
    position: relative;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;
    color: #F5876F;
    z-index: 3;
    background: #fff;
}


#enter .content .header {
    width: 60%;
    height: auto;
    text-align: center;
    color: #000;
    margin: 0 auto;
}



#fixed-angry-orchard {
  position: absolute;
  top: 0;
  height: 100vh;
  min-height: 100vh;
  width: inherit;
  background-color: #000;
  z-index: -100;
    background: #fff url("/dist/img/angry_orchard_bg.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}

#fixed-angry-orchard  .content {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 100px auto 0;
  text-align: center;
}

#fixed-angry-orchard  .content a {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: block;
}


#fixed-angry-orchard  .content a img {
  position: absolute;
  height: 60%;
  bottom:15%;
  left: 50%;
  transform: translateX(-50%)

}

#fixed-angry-orchard  .content a img:last-child {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}

#main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.empty-section {
  min-height: 800px;
    background: url("/dist/img/transparent.png") repeat;

}


.content-wrapper {
    width: 100%;
    height: auto;
}

.group:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.group .col {
    width: 28%;
    float: left;
    padding: 2%;
    text-align: center;
    color: #000;
}

/* ==========================================================================
   FUSION
   ========================================================================== */

.main-header{
	box-shadow: 0px 2px 2px rgba(116, 116, 116, 0.3);
}

#page-ad-container-bannerFlexOne>:first-child, #page-ad-container-leaderboard>:first-child{
	margin: 0;
}

.page-type-interactives .col1 .dni-html{
	padding:0;
}

.main-header.interior-page .header-inner .header-nav-area.inner-page-nav-area.dgo{
	margin: 0;
}


.header-page-sub-topic{
	display:none;
}
.page-type-interactives .col1 .dni-html{
    padding: 0;
}

#page-ad-container-bannerFlexOne{
overflow: hidden;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 2000px ){
    #home .content .tree {
      right: -200px;
        transition: .25s ease-in-out;
    }
}


@media (max-width: 1300px ) and (min-width:1280px){
    #nav,
    #home,
    #about,
    #angry-orchard,
    #fixed-about,
    #enter,
    #fixed-angry-orchard,
    #videoPlayer,
    #main {
        width: 100%;
    }


}

@media (max-width:1279px ) and (min-width:1140px){
    #nav,
    #home,
    #about,
    #angry-orchard,
    #enter,
    #fixed-angry-orchard,
    #videoPlayer,
    #main {
        width: 100%;
    }

    #enter img {
        width: 100%;
    }

}

@media (max-width:1024px) {
    #nav,
    #home,
    #about,
    #angry-orchard,
    #fixed-angry-orchard,
    #videoPlayer,
    #main {
        width: 100%;
    }

    #enter {
      width: 100vw;
      height: auto;
      min-height: 100vh;
      background-color: #fff;
    }

    #enter img {
        width: 100%;

    }


    #home {
      min-height: 600px;
      height: 88vh;
    }
    #home .content > .left {
        vertical-align: middle;
    }


    #home .content > .right > .wrapper >  p {
        padding: 0 10px;
    }

    #home .content > .right > .wrapper > .petnation-logo {
        width: 300px;
        height: auto;
    }

    #home .content > .right > .wrapper > .sponsorship {
        width: 90px;
        height: auto;
    }

    #home .content > .right > .wrapper {
        width: 80%;
        margin-top: 40px;
    }

    #fixed-angry-orchard {
      height: 640px !important;
    }

    .empty-section {
      min-height: 640px;
    }

    #home .content .tree {
      transition: .25s ease-in-out;
      right: -200px;
    }
}


@media (max-width:768px){
  /* HOME768 */

     #nav {
        display: none;
    }
    #fixed-angry-orchard > .content > a img:last-child {
        width: 80%;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        bottom:5%;
    }

    #fixed-angry-orchard > .content > a img:first-child {
        display: none;
    }

    #home .content .tree {
        display: none;
    }

    #home .mobile-footer {
        width: 100%;
        display: block;
    }
    #home {
        padding-top: 150px;
        background: #fff url("/dist/img/home_mobile_bg.png") no-repeat;
        background-size: 100% 100%;
    }

    #home > .content {
        width: 80%;
        height: 100%;
        padding: 0 10% 0;
    }

    #home > .content > .left {
        margin: 0;
        float: none;
        width: 100%;
        text-align: left;
    }

    #home .content .left .sweepstakes-title {
        width: 85%;
        padding: 0;
    }

    .group .col {
        width: 100%;
        float: none;
    }

    #home .content .tree {
        display: none;
    }


}


/* iPads (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #nav,
    #home,
    #about,
    #angry-orchard,
    #enter,
    #fixed-angry-orchard,
    #main {
        width: 100%;
        max-width: 100% ;
    }

    #enter img {
        width: 100%;

    }

    #fixed-angry-orchard {
      min-height: 640px;
    }


    .empty-section {
      min-height: 640px;
    }

    #home .content .tree {
        display: none;
    }

}*/


@media (max-width:640px) {

     #nav {
        display: none;
    }
  #fixed-angry-orchard > .content > a img:last-child {
    display: block;
  }

  #fixed-angry-orchard > .content > a img:first-child {
    display: none;
  }

  #home .content .tree {
      display: none;
  }

    #home .mobile-footer {
        width: 100%;
        display: block;
    }
    #home {
        padding-top: 150px;
        background: #fff url("/dist/img/home_mobile_bg.png") no-repeat;
        background-size: 100% 100%;
    }

    #home > .content {
        width: 80%;
        height: 100%;
        padding: 0 10% 0;
    }

    #home > .content > .left {
        margin: 0;
        float: none;
        width: 100%;
        text-align: left;
    }

    #home .content .left .sweepstakes-title {
        width: 85%;
        padding: 0;
    }

    .group .col {
        width: 100%;
        float: none;
    }

}



@media only screen and (max-width: 480px) {
    /* =Nav */
    #nav {
        top: 0 !important;
        display: none;
    }

    #nav ul {
      display: none;
      padding: 20px 0;
      width: 100%;
      background-color: #fff;
    }

   #nav li {
        padding: 5px;
        width: 100%;
        display: block;;
    }

    #hamburger-menu {
      cursor: pointer;
      display: block;
    }
    #home .mobile-footer {
        display: block;
    }
    #home {
        background: #fff url("/dist/img/home_mobile_bg.png") no-repeat;
        background-size: 100% 100%;
    }

    #home > .content {
        width: 80%;
        height: 100%;
        padding: 0 10% 0;
    }

    #home > .content > .left {
        margin: 0;
        float: none;
        width: 100%;
        text-align: left;
    }

    #home .content .left .sweepstakes-title {
        width: 85%;
        padding: 0;
    }

    .group .col {
        width: 100%;
        float: none;
    }


    #fixed-angry-orchard  .content a img:last-child{
        position: absolute;
        bottom:25%;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
